#* 
  msg - Shorthand macro to retrieve locale sensitive message from messages.properties 
  https://velocity.apache.org/engine/releases/velocity-1.5/user-guide.html#velocimacros 
*#

#macro( msg $key )$messages.getMessage($key, null, $locale)#end
<p><b>#msg("email.title")</b></p>
#msg("email.resetPassword.text") ${user.username}.</br>
#msg("email.resetPassword.link.text") <a href="https://localhost:8443/InspireMe/main/resetPasswordPage?id=${token}">#msg("email.link.title")</a>