h3 {
	background-color:yellow;
}
#country {
	margin: auto;
}
#country img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#wrapper {
	margin: 0 auto;
	width: 800px;
	background:#fff;
}
#header {
	background:#ccc;
	padding: 20px;
}
.inputError {
	color: red;
	font-weight: bold;
}
.passStrengthify {
	float: right;
	padding-right: 40%;
}
#navigation {
	float: left;
	width: 800px;
	background:#333;
}
#navigation ul
{
	margin: 0;
	padding: 0;
}
#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation p {
	color: #fff;
	float: right;
    margin-right: 20px;
}
#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}
#navigation li a:hover { background:#383; }
#leftBar {

        background-color:white;
        width:150px;
        height:100%;
        float:left;
    }
    
#content {
	clear: left;
	padding: 20px;
}
#footer {
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}
.postPreview {
	background: -webkit-linear-gradient(left, #FDFDFD, #BCBCBC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FDFDFD, #BCBCBC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FDFDFD, #BCBCBC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FDFDFD, #BCBCBC); /* Standard syntax (must be last) */
}
.postPreview a {
	text-decoration: none;
}
.postPreview div {
	float: left;
	width: auto;
	padding-top: 10px;
	padding-right: 10px;
}
.postPreview b a:hover { background:rgba(139, 248, 252, 1); }
.postPreview em {
	padding-left: 5px;
}
.postPreview img {
	width:32px;
	height: 32px;
}
#text {
	padding: 5px;
}
#singlePost h3 {
	background: -webkit-linear-gradient(left, #9BF7B6, #DCDFDD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #9BF7B6, #DCDFDD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #9BF7B6, #DCDFDD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #9BF7B6, #DCDFDD); /* Standard syntax (must be last) */
    padding: 5px;
}